<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Central Properties Group</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
    <!-- FAV ICON -->
    <link rel="icon" type="image/png" href="../assets/media/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../assets/media/favicon-16x16.png" sizes="16x16" />
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-sm navbar-light bg-gray mb-5">
        <div class="container">
            <a class="navbar-brand px-custom" href="/"></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-link-custom" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#socialmedia">Social Media</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- AUTHORS -->
    <section id="authors" class="my-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col mb-5">
                    <div class="info-header mb-5">
                        <h1 class="pb-3 meet-the-team">
                            Meet The Team
                        </h1>
                        <!-- <h2 class="pb-4 meet-the-team">
                            Qualifications
                        </h2> -->

                        <p class="lead w-50 mx-auto">
                            Central Properties Group llc is continually proven to be an industry leader for high
                            quality service by adding only first-class Agents. Central Properties prides itself in
                            being a team based high standard real estate brokerage. We provide a relationship-based
                            approach to complete real estate portfolio management for all our clients, partners, and
                            team.

                            Our Central Properties team brings a deep level of knowledge in all residential and
                            commercial real estate. As a team-oriented Company, we utilize our teams extensive
                            licensing as a Real Estate Broker, Real Estate Sales, Builders License, multi-State
                            experience, and intense mortgage background. The combination of all our real estate work
                            experience, career, and education we can provide a unique view of real estate management
                            for our partners and clients.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <img src="../assets/media/ian_whitelaw.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Ian Whitelaw</h3>
                            <h5 class="text-muted">Broker/Owner</h5>
                            <!-- <ul>
                                <li>Owner - Central Properties Group llc Real Estate Brokerage.  #6505368870</li>
                                <li>State of Michigan Real Estate Associate Broker License. #6502385342</li>
                                <li>State of Michigan Real Estate Sales License.  #6501313803</li>
                                <li>State of Michigan Residential Builders License. #2101204613</li>
                                <li>Graduate – Central Michigan University – Majors: Marketing / Management.</li>
                            </ul> -->

                            <p class="left-align">Owner - Central Properties Group llc Real Estate Brokerage.
                                #6505368870</p>
                            <p class="left-align">State of Michigan Real Estate Associate Broker License. #6502385342</p>
                            <p class="left-align">State of Michigan Real Estate Sales License. #6501313803</p>
                            <p class="left-align">State of Michigan Residential Builders License. #2101204613</p>
                            <p class="left-align">Graduate – Central Michigan University – Majors: Marketing /
                                Management.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aboutspace"></div>
            <div class="row">
                <div class="col-lg-5 col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <img src="../assets/media/tom_fisher.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Tom Fisher</h3>
                            <h5 class="text-muted">Broker</h5>
                            <p class="left-align">State of Michigan Real Estate Sales License. #6501329337</p>
                            <p class="left-align">Graduate – Central Michigan University – Major: Finance.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aboutspace"></div>
            <div class="row">
                <div class="col-lg-5 col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <img src="../assets/media/bryant_charters.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Bryant Charters</h3>
                            <h5 class="text-muted">Realtor</h5>
                            <p class="left-align">State of Michigan Real Estate Sales License. #6501401420</p>
                            <p class="left-align">Graduate – Michigan State University.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aboutspace"></div>

            <div class="row">
                <div class="col-lg-5 col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <img src="../assets/media/bryant_charters.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Stephanie Logan</h3>
                            <h5 class="text-muted">Realtor</h5>
                            <p class="left-align">State of Michigan Real Estate Sales License – Pending State of
                                Michigan. </p>
                            <p class="left-align">State of Indiana Real Estate Sales License. </p>
                            <p class="left-align">Graduate – Auburn University.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aboutspace"></div>
        </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>

</html>