/* #cpgLogo {
    background: url(../media/CPG_LOW_RES.png) center no-repeat; */


/* transform: scale(.2, .2); */


/* transform-origin: left top; */


/*height: 80px;
    width: 350px;
    background-size: contain;
    margin: 10px 10px;
    float: left;
}

a:visited {
    color: inherit;
}

.navbarContainer {
    padding: 3px 0;
    width: 100%;
    background-color: white;
    opacity: .8;
}

#navLinkContainer {
    z-index: 9999;
    float: right;
    margin-right: 100px;
    align-items: center;
    margin-top: 2em;
}

#navLinks {
    padding: 15px;
    /* border: 1px solid #05006f; */


/*border-radius: 50px;
}

.link {
    display: inline-block;
    font-size: 1.2em;
    padding: 0 .7em;
}

.button {
    width: 100%;
    color: white;
}

.button:hover {
    color: gray;
    text-decoration: none;
}*/


/* TODO: make bg a nice looking house? have company building in about us */


/* #section1 {
    background: url(../media/office-photo-lowres.png) no-repeat center center;
    height: 75vh;
}

#section2 {
    background: rgba(33, 96, 190, 0.466);
    vertical-align: middle;
    margin: 0 auto;
}

#container2 {
    text-align: center;
}

#textBorder {
    background-color: white;
    padding: 4em 2em 5em 2em;
    border-radius: 1em;
    margin: 2em;
}

.aboutUsText {
    font-size: 1.2em;
    padding: 0 1em;
    line-height: 22px;
    font-weight: 400;
}

#aboutUsTitle {
    font-size: 1.8em;
    margin-bottom: .7em;
    color: #00005b;
    font-weight: 600;
} */