    .navbar-brand {
        background: url(../media/CPG_LOW_RES.png) no-repeat center;
        background-size: contain;
    }
    
    .px-custom {
        padding-right: 9rem;
        padding-left: 6rem;
    }
    
    .bg-cpg-custom {
        background-color: #191b47;
    }
    
    .img-fluid {
        margin: 0 auto;
    }
    
    .meet-the-team {
        color: #191b47;
    }
    
    #authors img {
        margin-top: -50px;
    }
    
    #authors .card:hover {
        background: #3292a6;
        color: #fff;
        cursor: pointer;
    }
    
    #authors .fab {
        color: #fff;
    }